* {
	box-sizing: border-box;
	margin: unset;
}
html {
	block-size: 100%;
	inline-size: 100%;
}
body {
	--h: 192;
	--s: 40%;
	--bg: hsl(var(--h), var(--s), 5%);
	--complimentary: hsl(calc(var(--h) - 180), var(--s), 50%);
	--gap: 1rem;
	--rng-h: 2rem;

	background-color: hsl(var(--h), var(--s), 20%);
	min-block-size: 100%;
	min-inline-size: 100%;
}
main {
	height: 100vh;
	position: relative;
}
/* Article */
.a {
	background-color: #fff;
	box-shadow: 2vw 2vw 0 0.5vw hsla(var(--h), var(--s), 15%, 0.6);
	left: -100vw;
	margin: 0 auto;
	max-height: 100vh;
	min-height: 90vh;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	transition: left 0.5s cubic-bezier(.35,.92,1,1);
	width: 100vw;
	z-index: 2;
}
h2 {
	/* font-family: 'Oswald', sans-serif; */
	font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
	font-weight: 700;
	letter-spacing: -1px;
	/* text-transform: uppercase; */
}
.a:target {
	left: 0;
}
.ap {
	font-family: ui-sans-serif, system-ui, sans-serif;
	font-size: 1.25rem;
	line-height: 1.3;
	margin: 2rem;
	max-width: 700px;
	/* transform: skewY(5deg); */
}
.ap p {
	margin-block-end: 1rem;
}
.ap img {
	max-width: 700px;
}

.agent {
	position: relative;
	margin: var(--gap);
	max-width: 45vw;
	min-width: 300px;
	
}
.b {
	background-color: var(--bg);
	border-radius: 50%;
	box-shadow: var(--ring-bxsh);
	cursor: pointer;
	display: grid;
	height: 4rem;
	place-items: center;
	position: absolute;
	width: 4rem;
	z-index: 1;
}
.bg {
	height: 100%;
	pointer-events: none;
	position: fixed;
	width: 100%;
}
.bl {
	animation: rt 24s linear infinite;
	left: var(--gap);
	top: calc(var(--rng-h) + var(--gap));
}
.br {
	right: var(--gap);
	top: var(--gap);
}
/* Editor */
.gb {
  box-shadow: 4px 4px 0 0 var(--complimentary);
  background-color: hsl(var(--h), var(--s), 15%);
  color: hsl(var(--h), var(--s), 95%);
  border: 2px solid var(--bg);
  font-family: ui-monospace, monospace;
  padding: 0.75rem 1.5rem;
  margin-block-end: var(--gap);
}
.gf {
	border: 0;
	padding: 0 0 var(--gap) 0;
}
.gl {
	display: block;
	font-family: ui-monospace, monospace;
	margin-block-end: var(--gap);
}
.gl span {
	align-items: center;
	display: flex;
	position: relative;
}
.gl span::before {
	background-color: var(--complimentary);
	border: 2px solid var(--bg);
	border-radius: var(--bdrs, 50%);
	content: '';
	display: inline-block;
	height: 1.5rem;
	margin-inline-end: 0.5rem;
	width: 1.5rem;
}
.gl input:checked + span::before {
	background-color: var(--bg);
	box-shadow: inset 0 0 0 6px var(--complimentary);
}
.glc {
  --bdrs: 0.25rem;
}

.h {
	height: 0;
	overflow: hidden;
	position: absolute;
	width: 0; 
}
.i {
	fill: var(--complimentary);
	height: 2rem;
	width: 2rem;
}
.logo {
	fill: var(--complimentary);
}

/* Navigation */
.n {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-block-start: 2vh;
}
.n .nl {
	margin-block-end: 1.75rem;
}

.nl.blog {
	--bgc: var(--bg);
	/* --bc: hsl(var(--h), 20%, 40%); */
	--bdc: hsl(var(--h), 20%, 20%);
	/* --bw: 3rem; */
	--c: var(--complimentary);
	
	/* --rx: -2deg; */
}

.nl {
	--bdc: hsl(var(--h), var(--s), 25%);
	--bdw: 2px;
	--bgc: hsl(var(--h), var(--s), 80%);
	--bc: hsl(var(--h), var(--s), 15%);
	--bh: 2rem;
	--bw: 2.5rem;
	--c: hsl(var(--h), var(--s), 15%);
	--per: 80rem;
	--rx: -7deg;
	--ry: 40deg;
	background-color: var(--bgc);
	border-bottom: var(--bdw) solid var(--bdc);
	color: var(--c);
	display: inline-block;
	font-family: 'Impact', ui-sans-serif, system-ui, sans-serif;
	font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
	font-weight: 700;
	letter-spacing: 0.05rem;
	padding: var(--p, 0.5rem 1rem);
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transform: perspective(var(--per)) rotateX(var(--rx)) rotateY(var(--ry));
	
}
.nl::before {
	background-color: var(--bc);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
	bottom: calc(0px - var(--bdw));
	content: "";
	display: inline-block;
	height: var(--bh);
	position: absolute;
	left: calc(0px - var(--bw));
	width: var(--bw);
}

/* Range */
.r {
	--rng-thumb-bdrs: 50%;
	--rng-thumb-bxsh: inset 0 0 0 0.125rem rgba(255, 255, 255, 0.8);
	--rng-thumb-bxsh--focus: inset 0 0 0 0.125rem var(--c0), 0 0 0 0.125rem  rgba(255, 255, 255, 0.8);
	--rng-thumb-h: 2rem;
	--rng-thumb-w: 2rem;

	background-image: var(--rng-bgi, inherit);
	border-radius: var(--rng-bdrs, 0);
	font-family: inherit;
	height: var(--rng-h);
	margin: var(--rng-m, 0);
	outline: 0.25rem solid transparent;
	position: relative;
	touch-action: none;
	width: 100%;
}
.r--h {
	--rng-bgi: linear-gradient(to right, 
		hsla(0, var(--s), 50%, 0.8), 
    hsla(30, var(--s), 50%, 0.8), 
    hsla(60, var(--s), 50%, 0.8), 
    hsla(90, var(--s), 50%, 0.8), 
    hsla(120, var(--s), 50%, 0.8), 
    hsla(150, var(--s), 50%, 0.8), 
    hsla(180, var(--s), 50%, 0.8), 
    hsla(210, var(--s), 50%, 0.8), 
    hsla(240, var(--s), 50%, 0.8), 
    hsla(270, var(--s), 50%, 0.8), 
    hsla(300, var(--s), 50%, 0.8), 
    hsla(330, var(--s), 50%, 0.8),
    hsla(360, var(--s), 50%, 0.8)
		);
	--rng-thumb-bgc: hsl(var(--h), var(--s), 50%);
}
.r--d {
	--rng-bdrs: .5rem;
	--rng-bgi: linear-gradient(to right, var(--bg), var(--bg));
	--rng-thumb-bxsh: inset 0 0 0 0.125rem var(--bg);
	--rng-h: 0.5rem;
	--rng-m: var(--gap) 0;
	
	--rng-thumb-bgc: var(--complimentary);
}

.r::-moz-range-thumb {
	background-color: var(--rng-thumb-bgc);
	border-radius: var(--rng-thumb-bdrs);
	box-shadow: var(--rng-thumb-bxsh);
	color: #000;
	cursor: ew-resize;
	height: var(--rng-thumb-h);  
	margin-top: calc(0px - ((var(--rng-thumb-h) - var(--rng-h)) / 2));
	position: relative;
	width: var(--rng-thumb-w);
}
.r::-webkit-slider-thumb {
	background-color: var(--rng-thumb-bgc);
	border-radius: var(--rng-thumb-bdrs);
	box-shadow: var(--rng-thumb-bxsh);
	cursor: ew-resize;
	height: var(--rng-thumb-h);  
	margin-top: calc(0px - ((var(--rng-thumb-h) - var(--rng-h)) / 2));
	position: relative;
	width: var(--rng-thumb-w);
}
.r:focus-visible::-webkit-slider-thumb {
	box-shadow: var(--rng-thumb-bxsh--focus);
}
.r::-moz-range-track {
	background: transparent;
	background-size: 100%;
	height: var(--rng-h);
}
.r::-webkit-slider-runnable-track {
	background: transparent;
	background-size: 100%;
	height: var(--rng-h);
}
.r,
.r::-webkit-slider-runnable-track,
.r::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}
.rl {
	display: block;
	font-family: ui-monospace, monospace;
}



.s {
	background: hsla(var(--h), var(--s), 75%, 0.95);
	border-inline-start: 2px solid hsl(var(--h), var(--s), 20%);
	bottom: 0;
	font-family: ui-sans-serif, system-ui, sans-serif;
	height: calc(100vh - var(--rng-h));
	left: var(--app-l, 100%);
	padding: var(--gap);
	position: fixed;
	right: 0;
	top: var(--rng-h, 2rem);
	transition: left 0.5s cubic-bezier(.35,.92,1,1);
	width: var(--app-w, 75vw);
	z-index: 1;
}
#cp:checked ~ .s {
	--app-l: 25vw;
}

.sr {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	left: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

/* Animations */
.lr {
  --dist: 100px;
  animation: var(--animn, lr) calc(var(--time, 5000ms) * var(--speed, 1)) ease-in infinite alternate;
}
.tb {
  --dist: 100px;
  animation: var(--animn, tb) calc(var(--time, 5000ms) * var(--speed, 1)) ease-in infinite alternate;
}

@keyframes lr {
	100% {
		transform: translateX(var(--dist));
	}
}
@keyframes tb {
	100% {
		transform: translateY(var(--dist));
	}
}

@keyframes rt {
	100% { transform: rotate(360deg) }
}

/* RWD */
@media (min-width: 800px) {
	.a {
		max-height: calc(100vh - var(--rng-h));
		top: var(--rng-h);
		width: 90vw;
	}
	.s {
		--app-w: 30vw;
	}
	#cp:checked ~ .s {
		--app-l: 70vw;
	}
	.nl {
		--bh: 3.5rem;
		--bw: 4rem;
		--p: 1rem 2rem;
	}

}